<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <style>
        form{
            width: 300px;
            height: 150px;
            box-shadow: 0 0 10px #000;
            border-radius: 10px;
            text-align: center;
            margin-top: 130px;
            padding: 25px;
        }
        h3{
            text-align: center;
            padding: 10px;
        }
        .btn{
            padding: 7px 9px;
            background-color: skyblue;
            font-weight: bold;
            border-radius: 10px;
        }
        .head{
            font-weight: bold;
            font-family: calibri;
            font-size: 17px;
        }
    </style>
</head>
<body>
    <center>
    <form method="post" >
        <p class="head">* User Login</p>
        <table>
            <tr>
                <td>Email:</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="login" name="login" class="btn"></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>
