<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <style>
        form{
            width: 300px;
            height: 150px;
            box-shadow: 0 0 10px #000;
            border-radius: 10px;
            text-align: center;
        }
        h3{
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <form method="post" >
        <h3>Admin Login</h3>
        <table>
            <tr>
                <td>Email:</td>
                <td><input type="email" name="email"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="login" name="login"></td>
            </tr>
        </table>
    </form>
</body>
</html>
